/*  XPCE configuration file for "persistent_frame"
    Saved Wed Jun 27 14:46:29 2007 by KruizingaEE
*/

configversion(1).
[persistent_frame].

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% Option lines starting with a `%' indicate      %
% the value is equal to the application default. %
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

/* (X-)geometry for persistent frames */
history/geometry/pui_manual =   '1400x978+-4+0'.

/* Sub-window layout for persistent frames */
history/subwindow_layout/pui_manual = layout(*, [*, layout(*, [294, *]), *]).
